{
    "extends": [
        "react-app",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
        "plugin:prettier/recommended" // Enables eslint-plugin-prettier and eslint-config-prettier. This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
    ],
    "rules": {
        "import/prefer-default-export": "off",
        "no-bitwise": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
        "react/prefer-stateless-function": [0],
        "react/jsx-indent": [0],
        "react/sort-comp": [0],
        "react/destructuring-assignment": [0],
        "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
        "@typescript-eslint/indent": [0],
        "@typescript-eslint/no-empty-function": [0],
        "@typescript-eslint/no-empty-interface": [1],
        "@typescript-eslint/no-explicit-any": [0],
        "@typescript-eslint/no-inferrable-types": [0],
        "@typescript-eslint/no-non-null-assertion": [0],
        "@typescript-eslint/no-object-literal-type-assertion": [0],
        "@typescript-eslint/no-unused-vars": [1],
        "@typescript-eslint/explicit-function-return-type": [0],
        "quotes": [
            1,
            "single",
            { "avoidEscape": true, "allowTemplateLiterals": false }
        ],
        "jsx-quotes": ["error", "prefer-double"],
        "camelcase": "off",
        "no-use-before-define": "off",
        "prefer-const": [2],
        "semi": ["error", "always"],
        "prettier/prettier": [
            1,
            {
                "trailingComma": "none",
                "singleQuote": true,
                "jsxSingleQuote": false,
                "printWidth": 130,
                "semi": true,
                "jsxBracketSameLine": false,
                "bracketSpacing": true, 
                "tabWidth": 4,
                "useTabs": false
            }
        ]
    }
}