@import '../../variables';
.PostListContainer {
    display: flex;
    flex-direction: column;
    width: $POST_LIST_WIDTH;
    .MenuButton {
        display: none;
        top: -8px;
    }
    .PostListBody {
        flex: 1;
        display: flex;
        z-index: 1;
        background: #f5f2f2;
        flex-direction: column;
        height: 100%;
        width: unset;
        transform: translate3d(0%,0,0);
        top: 0;
    }
    .AnimationOpen {
        animation-duration: 1s !important;
    }
    .PostListOptions {
        display: flex;
        flex-direction: row;
        padding: 5px;
        .Option {
            flex: 1;
            
            padding: 5px 8px;
            &.PageSizeDropdown {
                margin-right: 4px;
                max-width: 100px;
                border: solid 0.4px black;
                box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
                .PageSizeDropdownInput {
                    padding-left: 10px;
                }
            }
            &.ReloadButton {
                font-size: 12px !important;
                margin-left: 4px;
                margin-right: 4px;
            }
            &.DismissAllButton {
                margin-left: 4px;
                font-size: 12px !important;
                margin-right: 4px;
            }
            &.SavedPostsButton {
                font-size: 12px !important;
                margin-left: 4px;
                &.SavedButtonFocus { 
                    background-color: antiquewhite;
                }
            }
        }
    }
    .PostListInnerContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        overflow-y: auto;
        border-right: groove 6px lightgrey;
    }
    @media screen and (max-width: $MOBILE_WIDTH_LIMIT) {
        width: unset;
        .PostListBody {
            width: $POST_LIST_WIDTH;
            position: fixed;
            transform: translate3d(-100%,0,0);
            height: calc(100% - 50px);
            top: 50px;
            border: solid 0.35px lightgrey;
        }
        .MenuButton {
            display: block;
        }
    }
}
